ul {
    color: whitesmoke;
    display: flex;
    justify-content: end;
    gap: 40px;
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin:10px;
}

ul li a,
nav a {
    text-decoration: none;
    color: white;
}
